@import "variables";

body {
	// Override browser default padding and margin
	margin: 0;
	padding: 0;
	// Set font globally
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	// Sticky the footer
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	// Backgorund color
	background: $background-color;

	* {
		transition-duration: .2s;
		max-width: 100%;
	}
	h1, h2, a#reset {
		text-align: center;
	}
}

main {
	// make footer sticky
	flex: 1 0 auto;
	// Vertically align content
	display: flex;
	align-items: center;
  	justify-content: center;
  	flex-direction: column;
}

#habits, #nottodo {
	margin-top: 3rem;
	h2 {
		margin-bottom: 2rem;
	}
}

// Tasks
.todo {
	background: none;
	border: none;
	text-align: center;
	margin: 1rem 0;

	&#mit {
		font-size: 1.5rem;
		font-weight: bold;
	}
	&#lit {
		font-size: 1.2rem;
		font-style: italic;
	}
}


.habits {

	list-style: none;
	padding: 0.5rem 0;
	width: 400px;

	li {
		margin: 1rem 0;
	    padding: 0 1rem;
	    border-left: 1px solid $accent-color;
	}

}

#footer {
	// make the copyright notics less in your face
	text-align: center;
	padding: 10px;
	opacity: 0.6;
	font-size: 13px;
}

// Helpers
.bold {
	font-weight: bold;
}
.card {

	// Carding
	background: white;
	box-shadow: $google-shadow;
	padding: 1rem 2rem;
	margin: 2rem;

	&:hover {
		transform: scale( 1.1 );
	}
}