$background-color: #efefef;
$google-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

body {
	// Override browser default padding and margin
	margin: 0;
	padding: 0;
	// Set font globally
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	// Sticky the footer
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	// Backgorund color
	background: $background-color;

	* {
		transition-duration: .2s;
	}
}

main {
	// make footer sticky
	flex: 1 0 auto;
	// Vertically align content
	display: flex;
	align-items: center;
  	justify-content: center;
  	flex-direction: column;
}

#footer {
	// make the copyright notics less in your face
	text-align: center;
	padding: 10px;
	opacity: 0.6;
	font-size: 13px;
}

// Helpers
.bold {
	font-weight: bold;
}
.card {

	// Carding
	background: white;
	box-shadow: $google-shadow;
	padding: 1rem 2rem;
	margin: 2rem;

	// Styling
	width: 400px;

	&:hover {
		transform: scale( 1.1 );
	}
	ul {
		list-style: none;
		li {

		}
	}
}

.trans {
	transform: scale( 0.8 );
	opacity: 0.5;
	&:hover {
		opacity: 1;
	}
}