/* Font */
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import "variables";
.trans {
	transform: scale( 0.8 );
	opacity: 0.5;
	&:hover {
		opacity: 1;
	}
}
.hide {
	display: none;
}
.strike {
	text-decoration: line-through;
	opacity: 0.1;
}
#reset {
	margin-top: 2rem;
	color: $accent-color;
}
.center {
	text-align: center;
}