- const page = { title: 'Home', desc: 'Home page', published: '2017-01-01', url: '/', featuredimg: '/image.jpg' }
doctype html
html( lang="en" )
	include pug/_header.pug
	body
		main
			h1 Dashboard
			h2 Stuff
		include pug/_footer.pug