- const page = { title: 'Home', desc: 'Home page', published: '2017-01-01', url: '/', featuredimg: '/image.jpg' }
- const capelink = 'http://www.multpl.com/shiller-pe/'
doctype html
html( lang="en" )
	include pug/_header.pug
	body
		main

			h1 Today:
			input( type='text' )#mit.todo
			//- input( type='text' )#lit.todo

			div.columns
				div#habits.hide
					h2 Todo:

					ul.habits
						li.weekly <a href=#{ capelink }>CAPE</a> < 16.8 ? enable dollar cost averaging
						li.weekly weekend ? peel
						li.weekly !massage ? plan
						li.weekly !friend dinner ? plan
						li.weekly !sauna day ? plan


					ul.habits.before12
						li dreams ? journal
						li.bold weekday ? limber+strength : limber
						li.bold meditate 10 minutes
						li whatsapp friends && tea
						li weather == sunny ? spf : vit c || moisturiser
						li japanese

					ul.habits
						li.bold Set MIT
						li workouts < 3 ? <b>VO2 || big 3 || kettlebell</b> : sauna


					ul.habits
						li.bold.after19 if( time > 19:00 ) block blue light
						li.after21 if( time > 21:00 ) no screens && <b>no internet && meditate</b>
						li.after21 retinol 1% || 0.2%


					p.center
						a( href='#' )#reset reset
				div#nottodo
					h2 Nodo:
					ul.habits
						li Eat after 19:00
						li Drink alcohol after 19:00

		include pug/_footer.pug